#
# {{ ansible_managed }}
#

[eucalyptus-enterprise]
name=Eucalyptus Enterprise
mirrorlist=http://packages.release.eucalyptus-systems.com/api/1/genrepo?distro=centos&releasever=6&arch=x86_64&url=repo-euca@git.eucalyptus-systems.com:internal.git&ref={{ enterprise_commit_ref }}
gpgcheck=0
enabled=1

