#
# {{ ansible_managed }}
#

[vddk]
name=VMWare SDK Repository
baseurl=http://packages.release.eucalyptus-systems.com/yum/tags/euca-master-plugin-build-bootstrap/centos/$releasever/$basearch/
gpgcheck=0
enabled=1
